#admin-view {
  padding-top: 30px;

  #entity-list {
    a {
      text-transform: uppercase;
    }
    a.active {
      background-color: #01b286 !important;
      border-color: #01b286 !important;
    }
  }

  table tr td:last-child {
    white-space: nowrap;
    width: 1px;
  }
}
