#container-login {
	background: url("../images/bg-login.jpg") no-repeat;
	background-size: 100% auto;
	height: 100%;
	width: 100%;
	text-align: center;

	.row {
		margin-left: 0px;
	}

	h1 {
		font-weight: 700;
		color: #ffffff;
		margin-top: 3%;
		margin-bottom: 3%;
	}

	span {
    	color: rgba(21, 198, 154, 1);
	}
}

#container {
	margin-left: 0px;
}

#form-element {
	font-weight: 700;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    input:focus {
		background-color: rgba(100, 108, 115, 0.5);
    	color: #ffffff;
	}
}

#username, #password {
	margin-bottom: 2%;
}

#login-btn {
	color: #ffffff;
	font-weight: 700;
	background-color: rgba(1, 178, 134, 1);
    font-size: 1.3em;
    border-radius: 0;
    margin-bottom: 2%;

	p {
		padding: 0;
	}
}

#login-btn:hover {
  background-color: rgba(21, 198, 154, 1);
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#toRegister {

	a {
		color: #ffffff;
	    text-decoration: none;
	    font-weight: bolder;
	}

	a:hover {
		text-decoration: underline;
	}
}

.social-login {
	background-color: rgba(0, 0, 0, 0.6);
	color: #ffffff;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;

    p {
	    font-style: italic;
	    font-weight: bold;
    }

    .social-login-buttons p {
		display: inline;
	}

	.btn {
		border-radius: 0;
	}

    .btn.btn-fb {
		background-color: #3b5998;
		color: #ffffff;
	}
	.btn.btn-tw {
		background-color: #0084b4;
		color: #ffffff;
	}
	.btn.btn-gg {
		background-color: #d34836;
		color: #ffffff;
	}
	.btn.btn-fb:hover {
		outline: none;
		border-color: #9ecaed;
		box-shadow: 0 0 10px #9ecaed;
	}
	.btn.btn-tw:hover {
		outline: none;
		border-color: #9ecaed;
		box-shadow: 0 0 10px #9ecaed;
	}
	.btn.btn-gg:hover {
		outline: none;
		border-color: #9ecaed;
		box-shadow: 0 0 10px #9ecaed;
	}
}

@media (max-width: 768px) {
	#form-element {
		font-weight: 700;
	    width: 70%;
	    margin-left: auto;
	    margin-right: auto;
	}
}