body {
    padding-top: 60px;
}

* {
    padding: 0;
    margin: 0;
}

#profile {
    padding: 0;
    margin: 0;
    background-size: 100% 100%;
    width: 100%;
    height: 420px;
}

#profile-background {
    background: url("https://placeimg.com/1000/480/nature") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 420px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    position: absolute;
}
#profile-information {
    position: absolute;
    padding-top: 60px;
    left: 25%;
}
#profile-image {
    background: url("https://placeimg.com/640/480/people") no-repeat;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#profile-name {
    padding-top: 10px;
    color: white;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}
#profile-detail {
    padding-top: 5px;
    color: #d9d9d9;
    font-size: 15px;
    font-family: cursive;
    text-align: center; 
}
#profile-webpage {
    font-size: 15px;
    font-family: cursive;
    text-align: center;     
}
#profile-webpage a {
    color: #505050;
    text-decoration: none;
}
#profile {
    .container-narrow {
        text-align: center;
        margin-top: 27px;
    }
}
#profile .container-narrow a {
    color: #d9d9d9;
    padding-top: 90px;
}


.user-profile {
    #user-profile-toggle {
        background-color: transparent;
        padding: 0;
        margin: 15px;

        ul li a .fa{
            color: #337ab7;
        }
    }

    .navbar-form {
        margin-top: 15px;
        padding-right: 0px;

        .input-group {
            .form-control {
                background-color: transparent;
                border-color: #45484C;
                color: white;
            }
        }
    }
}

#btn-search {
    color: white;
    background-color: transparent;
    border-color: #45484C;
}

#logo-header {
    padding-left: 50px;
}

#followers-row, #following-row {
    padding-top: 40px;

    .user-follow {
        color: #CBCFD6;
    }
}
