/*@media (min-width: 1297px) {*/
.container-register {
    background: url("../images/bg-register.jpg");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 0;
}
#background {
    position: absolute;
    // background: url("../images/bg-register.jpg") no-repeat;
    background-size: 100% 100%;
    filter:blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    // height: 100%;
    width: 100%;
    z-index: 1;
}
#inner-background {
    position: absolute;
    // background-color: rgba(0, 0, 0, 0.7);
    background-size: 100% auto;
    // height: 100%;
    width: 100%;
    z-index: 2;
}
#container-main {
    z-index: 100;
    color: #F0F8FF;
    .form-horizontal {
        font-weight: 700;
    }
    h1 {
        margin-bottom: 3%;
        font-weight: 700;
    }
    hr {
        margin-top: 0;
        border-top: 1px solid #F0F8FF;
        display: none;
    }
    //span {
        //color: rgba(21, 198, 154, 1);
    //}
    .main-title {
        font-size: 1.3em;
        font-weight: bolder;
        display: none;
    }
    .description {
        font-size: 1.2em;
    }
    input {
        font-size: 1.2em;
        background-color: rgba(240, 248, 255, 0.95);
        box-shadow: inset 1px 1px 1px 1px #888;
    }
    input:focus {
        color: #fff;
        box-shadow: inset 1px 1px 1px 1px #000;
        background-color: rgba(0, 0, 0, 0.6);
        border: inset 2px #fff;
    }
    select {
        font-size: 1.2em;
        background-color: rgba(240, 248, 255, 0.95);
        box-shadow: inset 1px 1px 1px 1px #888;
    }
    select:focus {
        color: #fff;
        box-shadow: inset 1px 1px 1px 1px #000;
        background-color: rgba(0, 0, 0, 0.6);
        border: inset 2px #fff;
    }
    select option {
        background-color: rgba(30, 30, 30, 0.7);
        color: #ffffff;

    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    }

    .btn {            
        margin-top: 2%;
        margin-bottom: 2%;
        color: #ffffff;
        font-size: 1.3em;
        font-weight: 700;
    }
  }
  #account {
      display: inline;
  }
  #basic-information {
      display: inline;
  }
  #btn-back {
      background-color: #C0392B;
      margin-left: 3%;
  }
  #btn-back:hover {
      background-color: #E74C3C;
      outline: none;
      border-color: #9ecaed;
      box-shadow: 0 0 10px #9ecaed;
  }
  #btn-register {
      background-color: rgba(1, 178, 134, 1);
      margin-left: 26%;
  }
  #btn-register:hover {
      background-color: rgba(21, 198, 154, 1);
      outline: none;
      border-color: #9ecaed;
      box-shadow: 0 0 10px #9ecaed;
}
/*}*/
@media (max-width: 991px) {
    #container-main {
        width: 100%;
        padding-left: 6%;
    }
    .container-register {
    /*    background-image: none;
        background-color: #202020;*/
        background: url("../images/bg-register-small-1.jpg") no-repeat;
        background-size: 100% 100%;
        .form-horizontal {
          width: 100%;
        }
    }
    #background {
        display: none;
    }
    #inner-background {
        display: none;
    }
    #btn-register {
        margin-left: 6%;
    }
    .btn {
        margin-top: 2%;
    }
}
@media (max-width: 480px) {
    #container-main {
        padding-left: 10%;
    }
    h1 {
        font-size: 2em;
    }
}
