<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">
      <a href="/#/profile/{{current.user}}">
        <img class="img-circle" src="http://placehold.it/150x150" alt="avatar" width="30px">
      </a>
      <a href="/#/profile/{{current.user}}">
        {{current.user}}
      </a>
      </h4>
    </div>
    <div class="modal-body">
      <p>
        <img class="img-responsive" src="http://placehold.it/1000x300/?text=Preview" alt="preview" />
      </p>
      <p>
        {{current.description}}
      </p>
      <p>
        1 <a href="/#/"><i class="fa fa-heart-o"></i></a>&nbsp;&nbsp;
        <a href="{{current.url}}" target="_blank"><i class="fa fa-share"></i></a>
        <span class="text-cat pull-right">
          <a><i ng-class="typeIconClass(feed.type)"></i></a>&nbsp;&nbsp;
          {{current.category}}
        </span>
      </p>
    </div>
    <div class="modal-footer">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Leave your comment...">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Save</button>
        </span>
      </div>
      <!-- /input-group -->
      <div class="media">
        <div class="media-left">
          <a href="/#/profile/{{feed.user}}">
            <img class="media-object img-rounded" src="http://placehold.it/150x150" alt="avatar" width="50px">
          </a>
        </div>
        <div class="media-body">
          <p><a href="/#/profile/user1"><b>Username</b></a></p>
          <p>comment 1</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="/#/profile/user2">
            <img class="media-object img-rounded" src="http://placehold.it/150x150" alt="avatar" width="50px">
          </a>
        </div>
        <div class="media-body">
          <p><a href="/#/profile/aaaa"><b>Username</b></a></p>
          <p>comment 2</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
