<div class="panel-body">
  <div class="media">
    <div class="media-left">
      <a href="/#/profile/{{feed.user}}">
        <img class="media-object img-rounded" src="http://placehold.it/150x150" alt="avatar" width="50px">
      </a>
      <div class="item-addons">
        {{feed.category}}&nbsp;&nbsp;
        <a><i ng-class="typeIconClass(feed.type)"></i></a>&nbsp;&nbsp;
        <a href="/#/" ng-click="showDetails(feed)" data-toggle="modal" data-target="#details-modal"><i class="fa fa-search"></i></a>&nbsp;&nbsp;
        <a href="/#/"><i class="fa fa-heart-o"></i></a>&nbsp;&nbsp;
        <a href="{{feed.url}}" target="_blank"><i class="fa fa-share"></i></a>
      </div>
    </div>
    <div class="media-body">
      <p><a href="/#/profile/{{feed.user}}"><b>{{feed.user}}</b></a></p>
      <p>{{feed.description}}</p>
    </div>
  </div>
</div>
<div clas="item-preview">
  <a href="" ng-click="showDetails(feed)" data-toggle="modal" data-target="#details-modal">
    <img class="img-responsive" src="http://placehold.it/1000x300/?text=Preview" alt="preview" />
  </a>
</div>
