<div class="header">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href=""><span><i class="fa fa-chain-broken"></i></span>Linky</a>
			</div>
			<div class="navbar-right">
				<div class="input-group">
					<span><i class="fa fa-search"></i></span>
					<input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon2">
				</div>
				<div class="user-photo">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Profile</a></li>
							<li><a href="#">Setting</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Sign out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>