<div class="container-login">
	<div class="inner-background">
		<div class="container-main container-fluid">
			<div class="row">
				<div class="text">
					<h1>Sign in to <strong>Linky</strong></h1>
				</div>
			</div>
			<div class="row">
                <div class="form-box">
                    <form role="form" action="" method="post" class="login-form">
                        <div id="get-information">
                            <!-- <div class="col-sm-11 col-sm-offset-0 form-group"> -->
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="form-username" placeholder="Username" class="form-username form-control" id="form-username">
                            </div>
                            <button type="submit" class="btn" id="login-btn"><span class="glyphicon glyphicon-arrow-right"></span></button>
                            <!-- <div class="col-sm-11 col-sm-offset-0 form-group"> -->
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="form-password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="social-login">
                    <h4>or login with:</h4>
                    <div class="social-login-buttons">
                        <a class="btn btn-fb" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-tw" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-gg" href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>