<div id="container-login">
    <div class="row" id="container">
        <h1>Sign in to <span>Linky</span></h1>
        <div class="row">
            <form role="form" action="" method="post" class="login-form">
                <div id="form-element">
                    <input type="text" class="form-control input-lg" id="username" placeholder="Username" tabindex="1">
                    <input type="password" class="form-control input-lg" id="password" placeholder="Password" tabindex="2">      
                    <button type="submit" class="btn col-md-6 col-md-offset-3" id="login-btn">Sign In</button>
                </div>
                <div class="col-md-6 col-md-offset-3" id="toRegister">
                    <a href="">Create new account</a>
                </div>
            </form>
        </div>  
        <div class="row">
            <div class="social-login">
                <h4>or login with:</h4>
                <div class="social-login-buttons">
                    <a class="btn btn-fb" href="#">
                        <i class="fa fa-facebook"></i><p> Facebook</p>
                    </a>
                    <a class="btn btn-tw" href="#">
                        <i class="fa fa-twitter"></i><p> Twitter</p>
                    </a>
                    <a class="btn btn-gg" href="#">
                        <i class="fa fa-google-plus"></i><p> Google Plus</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>