<div class="container-fluid">
  <div class="row" id="header-row">
    <div class="container">
      <div class="jumbotron" id="new-link">
        <input type="text" placeholder="What do you want to SHARE?" />
      </div>
      <div id="categories">
        <div class="container-narrow">
          <ul class="nav nav-custom">
            <li role="presentation" class="active"><a>All</a></li>
            <li role="presentation" ng-repeat="cat in categories">
              <a>{{cat}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="body-row">
    <div class="container">
    </div>
  </div>
</div>
