<div class="container-fluid">
  <div class="row" id="header-row">
    <div class="container">
      <div class="jumbotron container-narrow" id="new-link">
        <input type="text" placeholder="What do you want to SHARE?" ng-model="link" ng-change="showForm()"/>
        <form class="form-horizontal" role="form" ng-if="isFormShown" ng-animate="'animate'">
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Type</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" name="optradio">Article
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio">Video
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio">Picture
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="share-cat">Category</label>
            <div class="col-sm-10">
              <select type="password" class="form-control" id="share-cat">
                <option ng-repeat="cat in categories" value="cat">
                  {{cat}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="share-des">Description</label>
            <div class="col-sm-10">
              <textarea type="password" class="form-control" id="share-des" placeholder="Something about this link..."></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="reset" class="btn btn-warning" ng-click="hideForm()">Cancel</button>
              <button type="submit" class="btn btn-success">Share Now</button>
            </div>
          </div>
        </form>
      </div>
      <div id="categories">
        <div class="container-narrow">
          <ul class="nav nav-custom">
            <li role="presentation" ng-class="{'active': (filterValue == 'All')}"><a ng-click="filter('All')">All</a></li>
            <li role="presentation" ng-repeat="cat in categories" ng-class="{'active': (filterValue == cat)}">
              <a ng-click="filter(cat)">{{cat}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="body-row">
    <div class="container">
      <div class="container-narrow">
        <div ng-repeat="feed in shown" class="panel panel-default panel-feed" ng-animate="'animate'">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a href="/#/profile/{{feed.user}}">
                  <img class="media-object img-rounded" src="http://placehold.it/150x150" alt="avatar" width="50px">
                </a>
                <div class="item-addons">
                  {{feed.category}}&nbsp;&nbsp;
                  <a href="/#/" ng-click="showDetails(feed)"><i class="fa fa-search"></i></a>&nbsp;&nbsp;
                  <a href="/#/"><i class="fa fa-heart-o"></i></a>&nbsp;&nbsp;
                  <a href="{{feed.url}}" target="_blank"><i class="fa fa-share"></i></a>
                </div>
              </div>
              <div class="media-body">
                <p><a href="/#/profile/{{feed.user}}"><b>{{feed.user}}</b></a></p>
                <p>{{feed.description}}</p>
              </div>
            </div>
          </div>
          <div clas="item-preview">
            <a href="/#/" ng-click="showDetails(feed)">
              <img class="img-responsive" src="http://placehold.it/1500x400/?text=Preview" alt="preview" width="100%" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="details-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <a href="/#/profile/{{current.user}}">
            <img class="img-circle" src="http://placehold.it/150x150" alt="avatar" width="30px">
          </a>
          <a href="/#/profile/{{current.user}}">
            {{current.user}}
          </a>
        </h4>
      </div>
      <div class="modal-body">
        <p>
          <img class="img-responsive" src="http://placehold.it/1000x300/?text=Preview" alt="preview" />
        </p>
        <p>
          {{current.description}}
        </p>
        <p>
          1 <a href="/#/"><i class="fa fa-heart-o"></i></a>&nbsp;&nbsp;
          <a href="{{current.url}}" target="_blank"><i class="fa fa-share"></i></a>
          <span class="text-cat pull-right">
            {{current.category}}
          </span>
        </p>
      </div>
      <div class="modal-footer">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Leave your comment...">
          <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Save</button>
      </span>
        </div>
        <!-- /input-group -->
        <div class="media">
          <div class="media-left">
            <a href="/#/profile/{{feed.user}}">
              <img class="media-object img-rounded" src="http://placehold.it/150x150" alt="avatar" width="50px">
            </a>
          </div>
          <div class="media-body">
            <p><a href="/#/profile/{{feed.user}}"><b>Username</b></a></p>
            <p>comment 1</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="/#/profile/aaaaa">
              <img class="media-object img-rounded" src="http://placehold.it/150x150" alt="avatar" width="50px">
            </a>
          </div>
          <div class="media-body">
            <p><a href="/#/profile/aaaa"><b>Username</b></a></p>
            <p>comment 2</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
