<div class="container-fluid">
	<div class="row" id="header-row" ng-style="{'background-image': 'url(' + resolveImg(profileUser.cover_id, 'cover') + ')'}">
		<div class="container">
			<div class="container-narrow" id="follow-unfollow-container" ng-if="currentUser.id !== profileUser.id">
				<div id="follow-unfollow">
					<div ng-if ="!isFollowing">
						<a title="Follow {{profileUser.username}}" ng-click="followUser()">
							<i class="fa fa-lg fa-heart-o" style="color: red;"></i>
						</a>
						<span>Not following</span>
					</div>
					<div ng-if="isFollowing">
						<a title="Unfollow {{profileUser.username}}" ng-click="unfollowUser()">
							<i class="fa fa-lg fa-heart" style="color: red;"></i>
						</a>
						<span>Following</span>
					</div>
				</div>
			</div>
			<div id="profile">
				<div id="profile-information">
					<div id="profile-image" ng-style="{'background-image': 'url(' + resolveImg(profileUser.avatar_id, 'avatar') + ')'}">
					</div>
					<div id="profile-name">
						<p>{{profileUser.username}}</p>
					</div>
					<div id="profile-detail">
						<p>{{profileUser.title}}</p>
					</div>
					<div id="profile-webpage">
						<a href="mailto:{{profileUser.email}}">{{profileUser.email}}</a>
						<span style="color: white" ng-if="showDelimiter">&nbsp;|&nbsp;</span>
						<a href="{{profileUser.website}}" target="_blank">{{profileUser.website}}</a>
					</div>
					<div class="container-narrow">
						<ul class="nav nav-custom">
							<li role="presentation" ng-repeat="cat in categories" ng-class="{'active': (filterValue == cat)}">
								<a ng-click="filter(cat)">
									{{cat}}
									<span ng-if="cat === 'Shared Links'">&nbsp;({{postCount}})</span>
									<span ng-if="cat === 'Followers'">&nbsp;({{followerCount}})</span>
									<span ng-if="cat === 'Following'">&nbsp;({{followingCount}})</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="body-row" ng-if="shown === 'Shared Links'">
		<div class="container">
			<div class="container-narrow">
				<div ng-repeat="feed in feeds" class="panel panel-default panel-feed" ng-include="'feed-details'">
				</div>
				<button ng-if="canLoadMorePosts" class="btn btn-block btn-info" ng-click="loadMorePosts()">Load more Links...</button>
				<div class="filter-nothing" ng-if="feeds.length === 0">
		      {{profileUser.username}} shared nothing.
		    </div>
			</div>
		</div>
	</div>
	<div class="row" id="followers-row" ng-if="shown === 'Followers'">
		<div class="container">
			<div class="container-narrow">
				<div ng-repeat="follower in followers" class="panel panel-default panel-follower">
					<div class="panel-body">
						<div class="media">
							<div class="media-left">
								<a href="#/profile/{{follower.id}}">
									<img class="media-object img-rounded" ng-src="{{resolveImg(follower.avatar_id, 'avatar')}}" alt="avatar" width="50px" height="50px">
								</a>
							</div>
							<div class="media-body">
								<p><a href="#/profile/{{follower.id}}"><b>{{follower.username}}</b></a></p>
								<p class="user-follow">
									<!-- <span>{{follower.posts}} posts &nbsp;</span> -->
									<span>{{follower.num_followers}} followers &nbsp;</span>
									<span>{{follower.num_followings}} followings &nbsp;</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<button ng-if="canLoadMoreFollowers" class="btn btn-block btn-info" ng-click="loadMoreFollowers()">Load more Followers...</button>
				<div class="filter-nothing" ng-if="followers.length === 0">
		      	Nobody is following {{profileUser.username}}.
		    </div>
			</div>
		</div>
	</div>
	<div class="row" id="following-row" ng-if="shown === 'Following'">
		<div class="container">
			<div class="container-narrow">
				<div ng-repeat="follow in followings" class="panel panel-default panel-follower">
					<div class="panel-body">
						<div class="media">
							<div class="media-left">
								<a href="#/profile/{{follow.id}}">
									<img class="media-object img-rounded" ng-src="{{resolveImg(follow.avatar_id, 'avatar')}}" alt="avatar" width="50px" height="50px">
								</a>
							</div>
							<div class="media-body">
								<p><a href="#/profile/{{follow.id}}"><b>{{follow.username}}</b></a></p>
								<p class="user-follow">
									<!-- <span>{{follow.posts}} posts &nbsp;</span> -->
									<span>{{follow.num_followers}} followers &nbsp;</span>
									<span>{{follow.num_followings}} followings &nbsp;</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<button ng-if="canLoadMoreFollowings" class="btn btn-block btn-info" ng-click="loadMoreFollowings()">Load more Followings...</button>
				<div class="filter-nothing" ng-if="followings.length === 0">
		      	{{profileUser.username}} is following nobody.
		    </div>
			</div>
		</div>
	</div>
</div>
