<div id="profile">
	<div id="profile-background"></div>
	<div id="profile-information">
		<div id="profile-image"></div>
		<div id="profile-name">
			<p>Jessica Tuan</p>
		</div>
		<div id="profile-detail">
			<p>Designer and Developer living in San Diego, USA</p>
		</div>
		<div id="profile-webpage">
			<a href="">jessicatuan.com</a>
		</div>
		<div class="container-narrow">
	        <ul class="nav nav-custom">
	            <li role="presentation" ng-class="{'active': (filterValue == 'All')}"><a ng-click="filter('All')">All</a></li>
	            <li role="presentation" ng-repeat="cat in categories" ng-class="{'active': (filterValue == cat)}">
	              <a ng-click="filter(cat)">{{cat}}</a>
	            </li>
	        </ul>
	    </div>
	</div>
</div>
