<div class="container-fluid">
	<div class="row" id="header-row">
		<div class="container">
			<div id="profile">
				<div id="profile-information">
					<div id="profile-image"></div>
					<div id="profile-name">
						<p>{{profileUser.username}}</p>
					</div>
					<div id="profile-detail">
						<p>{{profileUser.title}}</p>
					</div>
					<div id="profile-webpage">
						<a href="">{{profileUser.website}}</a>
					</div>
					<div class="container-narrow">
				        <ul class="nav nav-custom">
				            <li role="presentation" ng-repeat="cat in categories" ng-class="{'active': (filterValue == cat)}">
				              <a ng-click="filter(cat)">{{cat.name}}</a>
				            </li>
				        </ul>
				    </div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" id="body-row" ng-if="shown === 'Feeds'">
		<div class="container">
			<div class="container-narrow">
				<div ng-repeat="feed in feeds" class="panel panel-default panel-feed" ng-include="'feed-details'">
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" id="followers-row" ng-if="shown === 'Followers'">
		<div class="container">
			<div class="container-narrow">
				<div ng-repeat="follower in followers" class="panel panel-default panel-follower">
					<div class="panel-body">
						<div class="media">
							<div class="media-left">
								<a href="#/profile/{{follower.user}}">
									<img class="media-object img-rounded" src="http://placehold.it/150x150" alt="avatar" width="50px">
								</a>
							</div>
							<div class="media-body">
								<p><a href="#/profile/{{follower.user}}"><b>{{follower.user}}</b></a></p>
								<p class="user-follow">
									<span>{{follower.posts}} posts &nbsp;</span>
									<span>{{follower.followers}} followers &nbsp;</span>
									<span>{{follower.following}} following &nbsp;</span>
								</p>
							</div>
							<div class="media-right">
								<button type="button" class="btn btn-success">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="following-row" ng-if="shown === 'Following'">
		<div class="container">
			<div class="container-narrow">
				<div ng-repeat="follow in following" class="panel panel-default panel-follower">
					<div class="panel-body">
						<div class="media">
							<div class="media-left">
								<a href="#/profile/{{follow.user}}">
									<img class="media-object img-rounded" src="http://placehold.it/150x150" alt="avatar" width="50px">
								</a>
							</div>
							<div class="media-body">
								<p><a href="#/profile/{{follow.user}}"><b>{{follow.user}}</b></a></p>
								<p class="user-follow">
									<span>{{follow.posts}} posts &nbsp;</span>
									<span>{{follow.followers}} followers &nbsp;</span>
									<span>{{follow.following}} following &nbsp;</span>
								</p>
							</div>
							<div class="media-right">
								<button type="button" class="btn btn-success">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
