<div class="container-register">
	<div id="background"></div>
	<div id="inner-background"></div>
	<div class="row col-md-11 col-md-offset-1" id="container-main">
		<h1>Welcome to <span>Linky</span>,</h1>
	  	<form class="form-horizontal" role="form" name="form_user">
	  		<!-- <fieldset class="fieldset" id="account"> -->
	  		<div class="row col-md-5" id="account">
			    <!-- <div class="col-sm-8"> -->
		  		<!-- <legend>ACCOUNT</legend> -->
		  		<div class="main-title"><p>ACCOUNT</p></div>
		  		<hr>
			  	<div class="row">
			      	<div class="col-sm-10 col-sm-offset-1">
			      		<p class="description">Username:</p>
			      		<div class="form-group left-inner-addon">
			      			<input type="text" class="form-control input-lg" ng-model="user.username" alt="" tabindex="1" required>
			      		</div>
			      		<p class="description">Password:</p>
			      		<div class="form-group left-inner-addon">
			      			<input type="password" class="form-control input-lg" name="password" ng-model="user.password" alt="Password must be at least 6 characters long, contain at least 1 uppercase letter and 1 digit. It cannot contain @ # $ %" min="6" tabindex="3" required>
			      		</div>
			      		<p class="description">Re-enter password:</p>
			      		<div class="form-group left-inner-addon re-pass">
			      			<input type="password" class="form-control input-lg" name="password_verify" ng-model="user.password_verify" min="6" tabindex="4" required pw-recheck>
			      			<span class="text text-danger" ng-show="form_user.password_verify.$error.noMatch">
						    	Password not matched!
						  </span>
			      		</div>
			      	</div>
			  	</div>
			</div>
		  	<!-- </fieldset> -->
		  	<!-- <hr> -->
		  	<!-- <fieldset class="fieldset" id="basic-information"> -->
		  	<div class="row col-md-5 col-md-offset-1" id="basic-information">
		  		<!-- <legend>BASIC INFORMATION</legend> -->
		  		<div class="main-title"><p>BASIC INFORMATION</p></div>
		  		<hr>
			  	<div class="row">
			      	<div class="col-sm-10 col-sm-offset-1">
								<p class="description">Email:</p>
			          	<div class="form-group left-inner-addon">
			      			<input type="email" class="form-control input-lg" ng-model="user.email" alt="" tabindex="2" required>
			      		</div>
			      		<p class="description">Phone Number:</p>
			      		<div class="form-group left-inner-addon">
			      			<input type="tel" class="form-control input-lg" ng-model="user.phone" tabindex="7">
			      		</div>
			      		<p class="description">Website:</p>
			          	<div class="form-group left-inner-addon">
			          		<input type="tel" class="form-control input-lg" ng-model="user.website" tabindex="8">
			      		</div>
			      	</div>
			  	</div>
			</div>
		  	<!-- </fieldset> -->
		  	<div class="clearfix"></div>
		  	<div class="form-group">
			  	<button class="btn col-sm-2" ng-click="signUpUser(user)" tabindex="9" id="btn-register">Sign Up</button>
			  	<button class="btn col-sm-2" ng-click="goToLogin()" tabindex="10" id="btn-back">Cancel</button>
		  	</div>

	  	</form>
	</div>
</div>
